* {
  font-family: 'Cutive Mono', monospace;
  box-sizing: border-box;
}

h2 {
  color: #333;
}
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
}

.books-container {
  border: 1px solid #222;
}

.book-entry {
  display: flex;
}

.thead, .tbody{
  display: flex;
  width: 100%;
}

.thead > * {
  flex: 20% 0 1;
}

.book-entry > * {
  flex: 20% 1 1;
}

.book-entry button {
	color: inherit;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.book-entry > *,
.thead > * {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.thead {
  font-weight: bold;
  border-bottom: 1px solid #666;
}


.book-entry {
  border-bottom: 1px solid #ccc;
}

.book-entry:last-of-type {
  border-bottom: none;
}

#no-books {
  color: #666;
  font-style: italic;
}

#no-books,
.book-entry > *,
.thead > * {
  padding: 5px 0 5px 0;
  text-align: center;
}

#form-container {
  margin-top: 20px;
}

#showFormBtn {
  margin-top: 1em;
}

#book-form {
  display: none;
  flex-direction: column;
  margin-top: 1em;
}

#book-form label {
  margin-top: 0.2em;
}

#AddBookToLibrary,
#showFormBtn {
  padding: 5px;
}

#finished {
  position: relative;
  top: 4px;
}

#AddBookToLibrary {
  margin-top: 0.6em;
}

